{% extends 'base.html' %}
  
{% block body %}
{% if request.session.cart|length < 1 %}
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-heading">
                    <h2>Your cart items:</h2>
                </div>
                <div class="empty-text-contant text-center">
                    <i class="pe-7s-shopbag"></i>
                    <h3>There are no more items in your cart</h3>
                    <a class="empty-cart-btn" href="product/"  style="background-color:#1c6052 ">
                        <i class="fa fa-arrow-left"> </i> Continue shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

{% load cart_tag %}

<form action="/cart/checkout/" method="post">
{% csrf_token %}
    <div class="cart-main-area pt-100px pb-100px" >
    <div class="container">
        <h3 class="cart-page-title" style="color:#1c6052 ">Your cart items:</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th  style="background-color:#1c6052 ">Image</th>
                                    <th  style="background-color:#1c6052 ">Product Name</th>
                                    <th  style="background-color:#1c6052 ">Until Price</th>
                                    <th  style="background-color:#1c6052 ">Qty</th>
                                    <th  style="background-color:#1c6052 ">Subtotal</th>
                                    <th  style="background-color:#1c6052 ">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-responsive ml-15px" src="{{value.image}}" alt="" /></a>
                                    </td>
                                    <td class="product-name" style="color:#1c6052 "><a  style="color:#1c6052 " >{{value.name | truncatewords:8}}</a></td>
                                    <td class="product-price-cart"  style="color:#1c6052 "><span class="amount">{{value.price}}</span></td>
                                    <td class="cart_quantity"  style="color:#1c6052 ">
                                        <div class="cart_quantity_button"  style="color:#1c6052 ">
                                            <a class="cart_quantity_up"   style="color:#1c6052 " href="{% url 'item_increment' value.product_id %}">+</a>
                                                <input type="text"   style="color:#1c6052 "class="cart-plus-minus-box" name="qtybutton" value="{{value.quantity}}" readonly>
                                                {% if value.quantity > 1 %}
                                                <a class="cart_quantity_down"  style="color:#1c6052 " href="{% url 'item_decrement' value.product_id %}">-</a>
                                                {% else %}
                                                <a class="cart_quantity_down"   style="color:#1c6052 "href="#">-</a>

                                                {% endif %}
                                            </div>
                                    </td>
                                    <td class="product-subtotal"  style="color:#1c6052 ">{{ value.price|multiply:value.quantity }}</td>
                                    <td class="product-remove"  style="color:#1c6052 ">
                                        
                                        <a href="{% url 'item_clear' key %}" style="color:#1c6052">Clear<i class="pe-7s-close"></i></a>
                                    </td>
                                </tr>
                                
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="product/" style="background-color:#1c6052 ">View more Products</a>
                                </div>
                                <div class="cart-clear">
                                    <button style="background-color:#1c6052 ">Continue to Buy </button>
                                    <a href="{% url 'cart_clear' %}" style="background-color:#1c6052 ">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-lm-30px"  style="background-color:#3eb48e ">
                        <div class="cart-tax" style="background-color:#3eb48e ">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray" >Estimate Shipping And Tax</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Enter your destination to get a shipping estimate.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select">
                                        <label>
                                            * Country
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>India</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * State
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Please Select State</option>
                                            <option>Gujarat</option>
                                            <option>Maharastra</option>
                                            <option>West Bengal</option>
                                            <option>Haryana</option>
                                            <option>Tamil nadu</option>
                                            <option>Uttar Pradesh</option>
                                            <option>Goa</option>
                                            <option>Himachal pradesh</option>
                                            <option>Tripura</option>
                                            <option>Punjab</option>
                                            <option>Assam</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="tax-select mb-25px">
                                        <label>
                                            * Zip/Postal Code
                                        </label>
                                        <input type="text" placeholder="#########" />
                                    </div>
                                    <form action="#">
                                        <button class="cart-btn-2 rounded-3" type="" style="background-color:#1c6052 ">Get A Quote</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lm-30px"  style="background-color:#3eb48e ">
                        <div class="discount-code-wrapper"  style="background-color:#3eb48e " >
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray" >Use Coupon Code</h4>
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form action="#">
                                    <input type="text" required="" name="name" placeholder="#########" />
                                    <button class="cart-btn-2 rounded-3" type="submit" style="background-color:#1c6052 " >Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-md-30px"  style="background-color:#3eb48e ">
                        <div class="grand-totall"  style="background-color:#3eb48e ">
                            <div class="title-wrap"  style="background-color:#3eb48e">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span>₹{{cart_total_amount}}</span></h5>
                            <div class="total-shipping">
                                <h5>Total shipping</h5>
                                <ul>
                                    <li>Tax <span>₹120.00</span></li>
                                    <li>Shipping Charge<span>₹50.00</span></li>
                                </ul>
                            </div>
                            <div class="d-flex" >
                                <h4 class="grand-totall-title" style="color:#1c6052">Grand Total</h4>
                                     
                                ₹<input type="text" name="amount" value="{{cart_total_amount}}" style="border:none;"readonly>
                                                                        
                            </div>
                            <div class=" rounded-3 text-center" style="background-color:#1c6052 ">
                                <button type="submit" class="text-light m-1"  style="background-color:#1c6052 "> Proccede To Continue</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endif %}
{% endblock %}