{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="thank-you-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="inner_complated">
                    <div class="img_cmpted"><img src="{% static  'assets/images/icons/cmpted_logo.png' %}" alt=""></div>
                    <p class="dsc_cmpted">Thank you for ordering in our store. You will receive a confirmation
                        email shortly.</p>
                    <div class="btn_cmpted" >
                        <a href="/" class="shop-btn" title="Go To Shop"  style="background-color:#8E2C2C">Continue Shopping </a>
                        <a href="{% url 'invoicedetail' %}" class="shop-btn bg-success">get reciept</a>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}