{% extends 'base.html' %}
{% block body  %}
<div class="about-area pt-100px"  style="background-color:#3eb48e;">
    <div class="container"">
        <div class="row"">
            <div class="col-12"">
                <div class="about-wrapper text-center"">
                    <div class="about-contant"">
                        <h2 class="title"">
                            <span style="color:black"> ABOUT US </span>

            
                        </h2>
                        <h2 style="color:lightblack">Welcome to D2K CUSTOMIZED LAPTOP
                        </h2>
                        <p>
                            Our website provides better experience to consumers and helps them to have a great journey creating their own, personalized laptops, PC and more.
                           
                            With the ability to explore detailed product information, browse    customer feedback, and navigate through a variety of product categories and subcategories, users can curate their dream laptops like never before. Our user-friendly interface provides a superlative experience, allowing consumers to effortlessly input their preferences, add customized products to their cart, and finalize purchases that align perfectly with their budget and need.
                        </p>
                        <p>
                             

                            Here, customers can design a customized laptop using variations in RAM, storage, processor, system, internal software, hardware, and more !!!
           
                        </P>  
                        
                    </div>
                    <div class="promo-video">
                        
                        <a href="/system/" ><span><i class="ripple"></i><h5 class="text-dark"><b>Join us on this exciting venture where technology meets individuality , right at your fingertips.</b></h5></span></a>
                    </div>
                    <p class="text-dark" > Thank you for choosing D2K CUSTOMIZED LAPTOP</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}