{% extends 'base.html' %}
{% block body %}
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">All Order :</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="col-lg-12">
                        <div class="cart-shiping-update-wrapper">
                            <div class="cart-shiping-update">
                                <a href="/track/" style="background-color:#1c6052">Track Your order</a>
                            </div>

                    </div>
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th  style="background-color:#1c6052">Invoice no </th>
                                    <th  style="background-color:#1c6052"> Image </th>
                                    <th  style="background-color:#1c6052"> Name</th>
                                    <th  style="background-color:#1c6052"> Price</th>
                                    <th  style="background-color:#1c6052">Qty</th>
                                    <th  style="background-color:#1c6052">Total Paid</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a>{{order.id}}</a>
                                        </div>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a><img class="img-responsive ml-15px" src="{{order.image}}" alt="" /></a>
                                    </td>
                                    <td class="product-name px-5"><a>{{order.products | truncatewords:8}}</a></td>
                                    <td class="product-price-cart"><span class="amount">{{order.price}}</span></td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a>{{order.quantity}}</a>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{order.price}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
