{% extends 'base.html' %}
{% block body %}
<div class="about-area pt-100px" style="background-color:#3eb48e;">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>HELLO VISITOR!!!</span>
                           
                            
                        </h2>
                        <p>Hello there,

                            We've missed you! There's a whole world of opportunities waiting for you inside. Log in now to explore, learn, and grow with us. Your journey towards greatness continues with just one click.
                            
                            Remember, your account is your passport to an amazing experience. If you have any trouble logging in, don't hesitate to reach out. We're here to help!
                            <p> 
                           
                            
                            Looking forward to seeing you on the inside!By logging in, 
                            you'll gain access to exclusive content, updates, 
                            and features that are only available to our registered users. It's quick, easy, and free!
                            <p>
                            </P>
                            Best Regards,
                            
                        </P>
                            
                            
                            </p>    
                    </div>
                    <div class="promo-video">
                        
                        <a href="{% url 'register' %}" ><span><i class="ripple"></i><h5  class="text-dark" >Sign In</h5></span></a>
                    </div>
                    <p  class="text-dark" >We're so glad you're here. Your journey towards discovery and growth continues. Let's make the most of today!</p>

                </div>
            </div>
        </div>      
    </div>
</div>
{% endblock %}