{% extends 'base.html' %}
{% block body %}
{% load cart_tag %}
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
        
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/{{prod.image}}" alt="">
                            <a class="venobox full-preview" data-gall="myGallery" href="{{prod.image}">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </a>
                        </div>
                            </div>
                </div>
                <div class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
                    <div class="swiper-wrapper">
                        {% for i in prod.images_set.all %}
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/{{i.image}}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    <h2>{{prod.name | truncatewords:8}}</h2>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price">₹{{prod.price}}</li>
                        </ul>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                        </div>
                        <span class="read-review"><a class="reviews" style = "color:black">(Recommended)</a></span>
                    </div>
                    <p class="mt-30px">{{prod.description | truncatewords:35}}</p>
                    
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span style="color:black;">Categories: </span>
                        <ul class="d-flex">
                            <li>
                                <a style="color:black;">{{prod.categories}} </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span style="color:black;">Brand: </span>
                        <ul class="d-flex">
                            <li>
                                <a style="color:black;">{{prod.brand}} </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span style="color:black;">Colour:  </span>
                        <ul class="d-flex">
                            <li>
                                <a style="color:black;">{{prod.color}} </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span style="color:black;">Tags: </span>
                        <ul class="d-flex">
                            <li>
                                {% for i in prod.tag_set.all %}
                                <a >{{i.name}} ,</a>
                                    {% endfor %}
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                        </div>
                        
                        <div class="pro-details-cart">
                        
                            <a href="{% url 'cart_add' prod.id %}" class="add-cart"  style="background-color:#1c6052" > Add To Cart</a>
                        
                        </div>
                        
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="{% url 'cart_add' prod.id %}"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="/compare/"><i class="pe-7s-refresh-2"></i></a>
                        </div>
                    </div>
                </div>
                <!-- product details description area start -->
                <div class="description-review-wrapper"style="background-color:#A49393;">
                    <div class="description-review-topbar nav"style="background-color:#3eb48e;">
                        <button data-bs-toggle="tab" data-bs-target="#des-details2"  style="background-color:#3eb48e;" >Information</button>
                        <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1"  style="background-color:#3eb48e;">Description</button>
                        <button data-bs-toggle="tab" data-bs-target="#des-details3"  style="background-color:#3eb48e;" >Reviews (02)</button>
                    </div>
                    <div class="tab-content description-review-bottom" style="background-color:#3eb48e;">
                        <div id="des-details2" class="tab-pane"  style="background-color:#3eb48e;">
                            <div class="product-anotherinfo-wrapper text-start"  style="background-color:#3eb48e;">
                                <ul>
                                    <li><span style="color:black;">{{prod.information}}</span></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div id="des-details1" class="tab-pane active" style="background-color:#3eb48e;" >
                            <div class="product-description-wrapper" style="background-color:#3eb48e;">
                                <ul>
                                    <li><span style="color:black;" >{{prod.description}}</span></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div id="des-details3" class="tab-pane" style="background-color:#A49393;">
                            <div class="row" style="background-color:#3eb48e;">
                                <div class="col-lg-12" style="background-color:#3eb48e;">
                                    <div class="review-wrapper" style="background-color:#3eb48e;">
                                        <div class="single-review" style="background-color:#3eb48e;">
                                            <div class="review-img" style="background-color:#3eb48e;">
                                                <img src="assets/images/review-image/1.png" alt="" />
                                            </div>
                                            <div class="review-content" style="background-color:#3eb48e;">
                                                <div class="review-top-wrap" style="background-color:#3eb48e;">
                                                    <div class="review-left" style="background-color:#3eb48e;">
                                                        <div class="review-name" style="background-color:#3eb48e;">
                                                            <h4>Manav Gohel </h4>
                                                        </div>
                                                        <div class="rating-product">
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-left">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="review-bottom">
                                                    <p>
                                                        This thing is fantastic! I wasn't sure what to expect at this price point, but I've been very impressed.I especially love that . It's made  so much easier/faster/more enjoyable.
                                                        Overall, I'm absolutely thrilled with this purchase. It's a great value for the price and has become an essential part of my daily routine .  Highly recommend!!!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-review child-review">
                                            <div class="review-img">
                                                <img src="assets/images/review-image/2.png" alt="" />
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top-wrap">
                                                    <div class="review-left">
                                                        <div class="review-name">
                                                            <h4>Maitri Shah</h4>
                                                        </div>
                                                        <div class="rating-product">
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                            <i class="pe-7s-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-left">
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="review-bottom">
                                                    <p> If you're looking for a reliable and affordable computer for everyday use, 
                                                        there are many  decent option. It performs well for basic tasks and has a compact design.
                                                        However, if you need a computer for more demanding applications like gaming or video editing, 
                                                        or if you require a lot of storage space, you might want to consider a different model with upgraded components or try their system builder feature .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="ratting-form-wrapper pl-50">
                                        <h3>Add Your Review</h3>
                                        <div class="ratting-form">
                                            <form  action="/review/" method ="post">
                                                {% csrf_token %}
                                                <div class="star-box">
                                                    <span>Your rating:</span>
                                                    <div class="rating-product">
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                        <i class="pe-7s-star"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="rating-form-style">
                                                            <input placeholder="firstName" type="text" name="firstname" required/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="rating-form-style">
                                                            <input placeholder="lastname" type="text" name="lastname" required/>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="stars">Choose Your Ratting:</label>
<select name="stars" id="stars" required>
  <option value="1">⭐</option>
  <option value="2">⭐⭐</option>
  <option value="3">⭐⭐⭐</option>
  <option value="4">⭐⭐⭐⭐</option>
  <option value="5">⭐⭐⭐⭐⭐</option>
</select>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="rating-form-style form-submit">
                                                            <textarea name="message" placeholder="message" required></textarea>
                                                            <button class="btn btn-primary btn-hover-color-primary " type="submit" value="Submit"  style="background-color:#1c6052" >Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details description area end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}