{% extends 'base.html' %}
{% block body %}
<div class="container rounded bg-white mt-5 mb-5" style="background-color:#3eb48e">
    <div class="row"style="background-color:#3eb48e">
        <div class="col-md-3 border-right"style="background-color:#3eb48e">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"style="background-color:#3eb48e">
                <img class="rounded-circle mt-5" src="https://th.bing.com/th/id/OIP.p02Fz-G99Mrcb-ZGhc0qSQHaHa?pid=ImgDet&w=182&h=182&c=7"><br>
                <span class="font-weight-bold" style ="font-size:22px">{{ user.first_name}} {{user.last_name}}</span>
                <span class="text-black-50"></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div style="font-size:200%;color:#1c6052;"> Y<span style="color:black" >our</span> P<span style="color:black"  >rofile</span></div>
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                   
                </div>
                <form action="/prof/" method="post">
                    {% csrf_token%}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        <input type="text" class="form-control" placeholder="first name" value="{{ user.first_name}}"/readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Surname</label>
                        <input type="text" class="form-control"  placeholder="surname" value="{{user.last_name}}"/readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Email id</label>
                        <input type="text" class="form-control" placeholder="enter phone number" value="{{user.email}}"/readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Is active</label>
                        <input type="text" class="form-control" placeholder="enter address" value="{{user.is_active}}"/readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">User id</label>
                        <input type="text" class="form-control"  placeholder="surname"  name="userid" value="{{user.id}}"/readonly>
                    </div>
                    
                    <div class="col-md-12">
                        <label class="labels">First Login</label>
                        <input type="text" class="form-control" placeholder="enter email id" value="{{user.date_joined}}"/readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Last Login </label>
                        <input type="text" class="form-control" placeholder="education" value="{{user.last_login}}"/readonly>
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Phone number </label>
                        <input type="text" class="form-control" placeholder="Contact" name="phone" id="phone" value="" maxlength="10" required oninput="validatePhone()">
                        <p id="phoneError" style="color:red;"></p>
                    </div>
                    
                    <script>
                    function validatePhone() {
                        var phone = document.getElementById('phone').value;
                        if (phone.length < 10) {
                            document.getElementById('phoneError').innerHTML = "Phone Number should contain 10 characters! Please check.";
                        } else {
                            document.getElementById('phoneError').innerHTML = "";
                        }
                    }
                    </script>
                    
                    
                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        <input type="text" class="form-control" placeholder="Address" value="" /required>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">State</label>
                        <input type="text" class="form-control" placeholder="State" name="state" value=""  /required>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Country</label>
                        <input type="text" class="form-control" placeholder="country" name="country" value="" /required>
                    </div>
                    
                </div>
                <div class="mt-5 text-center" style="color:#3eb48e">
                    <button class="btn btn-primary btn-hover-color-primary" type="submit" style="background-color:#1c6052">Save Profile</button>
                </div>
            </form>
                
            </div>
        
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div style="font-size:200%;color:#1c6052;"> A<span style="color:black" >dditional</span> D<span  style="color:black">etails</span></div>
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> 
                        <a href="/cart/cart_details/" class="dropdown-item"><i></i> Cart Details</a> </span>
                    <span >
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> <a href="/your-order" class="dropdown-item"><i></i>My Orders</a> </span>
                    <span >
                        
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> 
                        <a href="/allorders/" class="dropdown-item"><i></i>All Order Details</a> </span>
                    <span >
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> 
                        <a href="/track/" class="dropdown-item"><i></i>Track Orders</a> </span>
                    <span >
                    </span>
                </div><br>
                <div style="font-size:200%;color:#1c6052;"> A<span style="color:black">ctions</span></div>
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
               
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> <a href="{% url 'logout' %}" class="dropdown-item"><i class="pe-7s-unlock"></i> Logout</a> </span>
                    <span >
                   
                    </span>
                </div>
                
                <div class="d-flex justify-content-between align-items-center experience">
                    <span> <a href="{% url 'forget' %}" class="dropdown-item"><i class="pe-7s-unlock"></i>Change Password</a></span>
                    <span>
                       
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}